<%= form_for(@workout) do |f| %>
    <%= render partial: "layouts/errors", locals: { object: @workout } %>

  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>

  <h3>Exercises</h3>
  <h4>Choose from Existing Exercises</h4>
  <ul><%= f.label :exercises %>
  <%= f.collection_check_boxes :exercise_ids, Exercise.all, :id, :name %>
  </ul>

  <h4>Add a New Exercise</h4>
  <%= f.fields_for :exercises, @workout.exercises.build do |exercises_fields| %>
    Exercise Name: <%= exercises_fields.text_field :name %>
    Muscle Group: <%= exercises_fields.text_field :muscle_group %>
  <% end %>
  <br>
  <br>
  <br>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <br>
  <br>
  <%= f.label "Notes:" %>
  <%= f.text_area :notes %>
  <br>
  <br>
  <%= f.label "Date:" %>
  <%= f.text_field :date %>
  <br>

  <br>
  <br>
  <%= f.submit %>
<% end %>
