  <%= form_for(@workout) do |f| %>
    <%= render partial: "layouts/errors", locals: { object: @workout } %>

    <%= f.label "Workout Name:" %>
    <%= f.text_field :name %>
    <%= f.hidden_field :user_id, value: current_user.id %><br><br>

    <fieldset>
    <h3>Exercises</h3>
    <%= f.fields_for :workout_exercises do |we| %>
        <%= we.fields_for :exercise do |e| %>
            <%= e.label :name %>
            <%= e.text_field :name %>
        <% end %>
    <%= we.label :sets %>
    <%= we.text_field :sets %>
    <%= we.label :reps %>
    <%= we.text_field :reps %><br><br>
    <% end %>
    </fieldset><br>

    <%= f.label :"Workout Description:" %>
    <%= f.text_field :description %><br><br>

    <%= f.label "Notes:" %>
    <%= f.text_area :notes %><br><br>

    <%= f.label "Date:" %>
    <%= f.date_select :date, id: :date %><br><br>
    <%= f.submit %>
<% end %>
