<h1>Workouts</h1>

<% if @workouts.empty? %>
  <p>No workouts have been added by this user.<p>
<% else %>
  <% @workouts.each do |workout| %>
    <ul><%= link_to workout.name, workout_path(workout) %>- <%= last_updated(workout) %></li>
    <li><%= workout.description %></li>
    <li><%= workout.notes %></li>
    <li><%= link_to workout.user_name, user_path(workout.user) %></li>
    </ul>
  <% end %>
<% end %>
