<h3>Add a Workout</h3>

<%= form_for(@workout) do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>

  <ul><%= f.label :exercises %>
  <%= f.collection_check_boxes :exercise_ids, Exercise.all, :id, :name %>
  </ul>

  <%= f.label :description %>
  <%= f.text_field :description %>
  <br>
  <br>
  <%= f.label "Notes:" %>
  <%= f.text_area :notes %>
  <br>
  <br>
  <%= f.label "Date:" %>
  <%= f.text_field :date %>
  <br>

  <%= f.submit %>
<% end %>
