<h1><%= @workout.name %></h1>
<p><%= last_updated @workout %></p>
<p><%= @workout.description %></p>
<p><%= @workout.notes %></p>
<p><%= @workout.date %></p>
<p><% @workout.exercises.each do |exercise| %></p>
<%= exercise.name %>
<% end %>
<p><%= link_to "Edit This Workout", edit_workout_path(@workout) if @current_user.id == @workout.user.id %><p>
