<!-- Don't know if i love how the nav links display here-->
<h1>Log In<h2>

<!-- not sure how this error will display -->
<%= content_tag(:div, flash[:error], :id => "flash_error", :class => "fields_with_errors") if flash[:error] %>
<%= form_for @user, url: login_path, method: :post do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <br>
    <%= f.submit "log in" %>
    Or <%= link_to(controller: 'users', action: 'new') { 'sign up' } %><!-- could be nicer? -->
  </div>
<% end %>
