<h1>Log In<h2>

<%= content_tag(:div, flash[:error], :id => "flash_error", :class => "fields_with_errors") if flash[:error] %>
<br>

<%= form_for @user, url: login_path, method: :post do |f| %>
  <!-- <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:
      </h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %> -->

  <div class="field">
    <%= f.label :name %>
    <br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <br>
    <%= f.password_field :password %>

  <div class="actions">
    <%= f.submit "log in" %>
    Or <%= link_to(controller: 'users', action: 'new') { 'sign up' } %>
  </div>
<% end %>
