<%= form_for @user do |f| %>
    <%= render partial: "layouts/errors", locals: { object: @user } %>

  <div class="field">
    <%= f.label :name %>
    <br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <br>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :password unless logged_in? %>
    <br>
    <%= f.password_field :password unless logged_in?%>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
