<% if @user %>
  <h1>Welcome, <%= @user.name %>!</h1>
<% end %>

<h3>Recently Added Workouts From the Community</h3>
<% unless @workouts.empty? %>
  <% @workouts.each do |w| %>
    <% user = (@current_user.id == w.user_id) ? "you" : w.user_name %>
      <ul><%= link_to w.name, workout_path(w) %>
        <li>Added by <%= link_to w.user_name, user_path(w.user) %></li>
      </ul>
  <% end %>
<% end %>

<h3>Recently Added Exercises</h3>
<% unless @exercises.empty? %>
  <ul>
    <% @exercises.each do |e| %>
      <li><%= link_to e.name, exercise_path(e) %></li>
    <% end %>
  </ul>
<% end %>

<h3>Explore New Users!</h3>
<% unless @users.empty? %>
  <ul>
    <% @users.each do |u| %>
      <li><%= link_to u.name, user_path(u) %></a></li>
    <% end %>
  </ul>
<% end %>
