<h1><%= @user.name %></h1>
<p><%= link_to "Edit or Delete Your Profile", edit_user_path(@user) if @user == current_user %><p>

<h3><%= @user.name %>'s Workouts </h3>

<% if @user_workouts.empty? %>
  <p> <%= @user.name %> has not added any workouts yet!<p>
<% else %>
  <% @user_workouts.reverse.each do |workout| %>
    <ul><%= link_to workout.name, workout_path(workout) %></a>
      <% workout.exercises.each do |exercise| %>
        <li><%= exercise.name %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>
