<!-- move this back into index? not sure -->
<h2>Filter exercises:</h2>
<%= form_tag("/exercises", method: "get") do %>
  <%= select_tag "muscle_group", options_for_select(["", "Glutes", "Abdominals", "Chest", "Quadriceps", "Hamstrings", "Calves", "Back", "Shoulders", "Biceps", "Triceps", "Multiple"]) %>
  <%= submit_tag "Filter" %>
<% end %>

<% exercises.each do |exercise| %>
  <ul> <%= link_to "#{exercise.name}", exercise_path(exercise) %>
    <li><%= exercise.muscle_group %></li>
    <li><%= exercise.equipment %></li>
    <li><%= exercise.description %></li>
  </ul>
<% end %>
