<h2>Filter exercises:</h2>
<%= form_tag("/exercises", method: "get") do %>
  <%= select_tag "muscle_group", options_for_select(["", "Glutes", "Abdominals", "Chest", "Quadriceps", "Hamstrings", "Calves", "Back", "Shoulders", "Biceps", "Triceps", "Multiple"]) %>
  <%= submit_tag "Filter" %>
<% end %>

<% exercises.each do |e| %>
  <ul> <%= link_to "#{e.name}", exercise_path(e) %>
    <li><%= e.muscle_group %></li>
    <li><%= e.equipment %></li>
    <li><%= e.description %></li>
  </ul>
<% end %>
