<h2>Filter exercises:</h2>
<%= form_tag("/exercises", method: "get") do %>
  <%= select_tag "muscle_group", options_for_select(["", "Glutes", "Abdominals", "Chest", "Quadriceps", "Hamstrings", "Calves", "Back", "Shoulders", "Biceps", "Triceps", "Multiple"]) %>
  <%= submit_tag "Filter", :class => "filter" %>
<% end %>

<% exercises.each do |exercise| %>
  <ul><h4><%= link_to exercise.name, exercise_path(exercise) %></h4>
    <li>Primary Muscle Group: <%= exercise.muscle_group %></li>
    <li>Equipment Needed? <%= exercise.equipment ? "Yes" : "No" %></li>
  </ul>
<% end %>
