<h3>Add an Exercise</h3>

<%= form_for(@exercise) do |f| %>
  <label>Exercise:</label><br>
  <%= f.text_field :name %><br>

  <label>Muscle Group:</label><br>
  <%= f.text_field :muscle_group %><br>

  <label>Equipment Needed:</label><br>
  <%= f.text_field :equipment %><br>

  <label>Description:</label><br>
  <%= f.text_field :description %><br>

  <%= f.submit %>
<% end %>
