<!DOCTYPE html>
<html>
  <head>
    <title>ExerciseMe</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= link_to "Home", home_path %>
    <%= link_to "Add a New Exercise", new_exercise_path %>
    <%= link_to "View all Exercises", exercises_path %>
    <%= link_to "Add a New Workout", new_workout_path %>
    <%= link_to "View all Workouts", workouts_path %>
    <%= link_to "View Profile" %>
    <%= link_to "Log Out", signout_path %>
    <%= yield %>
  </body>
</html>
